html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* .main */
.container {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    height: 100vh;
    min-height: 600px;
    background: linear-gradient(rgb(244, 139, 130, 0.9), rgb(252, 227, 138, 0.9)), center url("../img/eagle.png");
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav__menu {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    flex-basis: 50%;
}
.nav__burger {
    display: none;
}

.nav__link a {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 12px;
}

.nav__link:nth-child(-n + 5):hover a {
    color: #fce38a;
    border-bottom: solid 3px #fce38a;
}

.nav__link-cart {
    display: none;
}
.nav__link-search {
    display: none;
    font-size: inherit;
}

.nav__logo {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.caption__title {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    line-height: 1em;
}
.caption__text {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 150px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 1em;
}
.caption__text::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto 0;
}
.caption__btn {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 30px;
    border: solid 3px #ffffff;
    text-decoration: none;
}

.caption__btn:hover {
    background-color: #ffffff;
    color: #fce38a;
    cursor: pointer;
}
.caption__slider-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
}
.caption__slider {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    transform: translateX(-5%);
    opacity: 0;
    z-index: 5;
}

.caption__slider.slide-in {
    display: flex;
    animation: slide-in 1s forwards;
}

.caption__slider.slide-out {
    display: flex;
    opacity: 100%;
    animation: slide-out 1s forwards;
}
@keyframes slide-in {
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(5%);
    }
}
.caption__slider-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.caption__slider-tab {
    cursor: pointer;
    opacity: 50%;
    margin-right: 30px;
    width: 100%;
}
.caption__slider-tab.active {
    opacity: 100%;
}
.caption__slider-tab:last-child {
    margin-right: 0;
}

.caption__slider-track {
    height: 3px;
    background-color: #fff;
    margin-bottom: 15px;
}

.caption__slider-loadbar.active {
    background-color: rgb(255, 6, 6);
    height: 100%;
    width: 0;
    animation: loading 5s linear;
}
@keyframes loading {
    to {
        width: 100%;
    }
}

.caption__slider-number {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.caption__slider-name {
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.second {
    width: 100%;
    height: 100vh;
    background-color: #f2ddff;
}
@media (max-width: 1200px) {
    .nav__logo,
    .nav__burger {
        padding-left: 10px;
        padding-right: 10px;
    }
    .caption {
        padding-left: 10px;
        padding-right: 10px;
    }
    .caption__slider-nav {
        margin: 0 20px 15px;
    }
}
@media (max-width: 992px) {
    .caption__text {
        font-size: 115px;
    }
    .caption__title {
        font-size: 60px;
    }
}
@media (max-width: 768px) {
    .caption__title {
        font-size: 48px;
    }
    .caption__text {
        font-size: 80px;
    }
    .caption__slider-number {
        display: none;
    }
    .caption__slider-name {
        display: none;
    }
}
@media (max-width: 576px) {
    body.fixed {
        position: fixed;
    }
    .nav__logo {
        font-size: 40px;
        z-index: 15;
    }
    .nav__link:nth-child(6):hover a {
        color: #fce38a;
        border-bottom: solid 3px #fce38a;
    }
    .nav__link .fa-shopping-cart {
        display: none;
    }
    .nav__link-cart {
        display: inline;
    }
    .nav__link-search {
        display: inline-block;
        height: 40px;
        width: 100%;
        border: 1px gray solid;
        border-radius: 5px;
        outline: none;
    }
    .nav__link-search::-webkit-search-cancel-button {
        display: none;
    }

    .nav__menu {
        position: fixed;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        top: -100%;
        width: 100%;
        background-color: rgb(244, 139, 130);
        transition: 1s;
        opacity: 0;
        z-index: 10;
    }
    .nav__menu.nav-out {
        top: 0;
        opacity: 0.9;
    }
    .nav__link {
        margin: 0 25px;
        position: relative;
    }
    .nav__link .fa-search {
        display: inline-block;
        position: absolute;
        color: black;
        right: 0;
        top: 5px;
        transform: scale(0.5);
        opacity: 0.5;
    }

    .nav__link:first-child {
        margin-top: 80px;
    }
    .nav__link a {
        font-size: 30px;
        font-weight: 700;
    }
    .nav__burger {
        right: 0;
        cursor: pointer;
        z-index: 15;
        width: 50px;
        height: 50px;
        display: inline-block;
        background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/menu--v1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.1s linear;
    }
    .nav__burger.burger-active {
        z-index: 15;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url("https://img.icons8.com/ios-filled/150/ffffff/multiply.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        font-size: larger;
    }

    .caption__text {
        font-size: 50px;
    }
    .caption__text::after {
        margin-top: 40px;
    }
}
/* #wedo */

.wedo_container {
    text-align: center;
}
.wedo-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.wedo-img-wrapper {
    margin-right: 15px;
}
.wedo-img-wrapper:last-child {
    margin-right: 0;
}
.wedo-img-wrapper {
    background-color: #95e1d3;
    position: relative;
}

.wedo-img-wrapper img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out;
    display: block;
}
.wedo-img-wrapper:hover > img {
    transform: translate(-10px, -10px);
    box-shadow: 20px 20px 14px -1px rgba(34, 60, 80, 0.2);
}
.wedo-img-wrapper:hover .wedo-img-background {
    transform: translate(-10px, -10px);
    opacity: 0.9;
}
.wedo-img-background {
    background: linear-gradient(rgb(244, 139, 130), rgb(252, 227, 138));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wedo-img-background img {
    max-width: 32px;
    height: 24px;
    margin-bottom: 10px;
}
.wedo__overlay-text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.wedo__pretitle {
    margin: 100px 0 30px;
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
}
.wedo__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 100px;
}
.wedo__text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 100px 100px;
    color: #999999;
}
.wedo__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0;
}
@media (max-width: 1200px) {
    .wedo_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .wedo-img {
        flex-direction: column;
        width: 60%;
        margin: 10px auto 20px;
    }
    .wedo-img-wrapper {
        margin: 20px;
    }
    .wedo-img-wrapper:last-child {
        margin: 20px;
    }
    .wedo__title {
        margin-bottom: 50px;
    }
    .wedo__text {
        margin: 0 50px 0;
    }
}
@media (max-width: 576px) {
    .wedo__title {
        margin-bottom: 50px;
    }
    .wedo-img {
        width: 90%;
    }
}
/* #perfomance */
.perfomance {
    background-color: #95e1d3;
    height: 270px;
}
.perfomance_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.perfomance__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid rgb(255, 255, 255, 0.2);
}
.perfomance__wrapper:first-child {
    border-left: 1px solid rgb(255, 255, 255, 0.2);
}
.perfomance__number {
    color: #fff;
    font-size: 72px;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 20px;
}
.perfomance__text {
    flex-basis: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
}
@media (max-width: 576px) {
    .perfomance__wrapper {
        width: 100%;
        border-right: none;
        border-top: 1px solid rgb(255, 255, 255, 0.2);
    }
    .perfomance__wrapper:first-child {
        border-left: none;
        border-top: none;
    }
    .perfomance {
        height: auto;
    }
    .perfomance_container {
        flex-direction: column;
    }
}

/* #work */
.work_container {
    text-align: center;
}
.work__pretitle {
    margin: 100px 0 30px;
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
}
.work__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 100px;
}
.work__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0;
}
.work__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work__skill-item {
    text-align: left;
    display: flex;
    padding: 50px 0;
    width: 33.3%;
}
.work__skill-item:nth-child(-n + 3) {
    border-bottom: 1px solid #e5e5e5;
}
.work__skill-icon {
    padding: 5px 25px 0;
}
.work__skill-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 15px;
}
.work__skill-desc {
    font-family: "Roboto";
    font-size: 15px;
}
@media (max-width: 1200px) {
    .work_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    .work__skill-item:nth-child(-n + 4) {
        border-bottom: 1px solid #e5e5e5;
    }
    .work__skill-item {
        width: 50%;
        padding: 20px 0;
    }
    .work__title {
        margin-bottom: 50px;
    }
}
@media (max-width: 576px) {
    .work__skill-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .work__skill-icon {
        padding-bottom: 10px;
    }
    .work__skill-desc {
        padding: 0 5px;
    }
}
/* #design */
.design {
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    background: linear-gradient(rgb(255, 255, 255, 0.85), rgb(255, 255, 255, 0.85)), url("../img/landscape.png") center;
    background-size: cover;
}
.design_container {
    text-align: center;
    padding-top: 100px;
    height: calc(100% - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}
.design__pretitle {
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
}
.design__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
}
.design__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0;
}
.design__wrapper {
    max-width: 470px;
    min-width: 200px;
    max-height: 500px;
    margin: auto auto 0;
    overflow: hidden;
}
.design__tablet {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left top;
}
.design__mobile {
    width: 220px;
    height: auto;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(60%);
}

@media (max-width: 1200px) {
    .design_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    .design__mobile {
        left: auto;
        right: 0;
        transform: translateX(0%);
    }
}
@media (max-width: 576px) {
    .design__mobile {
        bottom: -50px;
        width: 180px;
    }
}
/* #service */

.service_container {
}
.service__pretitle {
    margin: 100px 0 30px;
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
    text-align: center;
}
.service__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.service__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 50px auto 0;
}
.service__text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 100px 50px;
    color: #999999;
    text-align: center;
}
.service__image {
    display: block;
    max-width: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.service__content {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: space-between;
}
.service__accordion,
.service__accordion * {
    box-sizing: border-box;
}
.service__accordion-slide:not(:first-child) {
    margin-top: 10px;
}
.service__accordion-nav {
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
}

.service__accordion-nav-image img {
    padding: 13px;
    display: block;
}
.service__accordion-nav-title {
    display: block;
    flex: 1;
}
.service__accordion-nav-button {
    width: 43px;
    position: relative;
}
.service__accordion-nav-button img {
    position: absolute;
    display: block;
    transition: 0.3s;
    top: 0;
    transform: translateY(-50%);
}
.service__accordion-nav-button-up {
    opacity: 0;
}
.service__accordion-nav-button-down {
    opacity: 1;
}
.service__accordion-slide.active .service__accordion-nav-button-up {
    opacity: 1;
}
.service__accordion-slide.active .service__accordion-nav-button-down {
    opacity: 0;
}
.service__accordion-content-wrapper {
    padding: 0 20px;
    transition: all 0.3s ease-out;
    border: 0 solid #e5e5e5;
}
.service__accordion-slide.active .service__accordion-content-wrapper {
    padding: 20px;
    border: 1px solid #e5e5e5;
}
.service__accordion-slide.active .service__accordion-content {
    height: 140px;
}
.service__accordion-content {
    overflow: auto;
    transition: 0.3s ease-out;
    height: 0;
    padding-right: 10px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    color: #b9b9b9;
}
.service__accordion-content::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
}
.service__accordion-content::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .service_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 992px) {
    .service__image {
        max-width: 100%;
        margin: 0 0 20px;
    }
    .service__content {
        margin: 0 auto;
        flex-direction: column;
        max-width: 570px;
        height: auto;
    }
}
@media (max-width: 576px) {
    .service__text {
        margin: 0 50px 50px;
    }
}
/* #comments */
.comments {
    margin-top: 50px;
    background-color: #f8f8f8;
}
.comments_container {
    position: relative;
    overflow: hidden;
}
.comments__track {
    display: flex;
    transition: 0.5s ease-in-out;
}
.comments__prev,
.comments__next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: 0.2s;
}
.comments__prev[disabled="disabled"],
.comments__next[disabled="disabled"] {
    opacity: 0.3;
}
.comments__next {
    right: 0;
}
.comments__prev {
    left: 0;
}
.comments__item {
    min-width: 100%;
    display: flex;
    align-items: center;
    height: 290px;
    justify-content: center;
    font-family: "Roboto";
    font-size: 24px;
}
.comments__content {
    flex-basis: 850px;
    padding-left: 60px;
    margin-right: 50px;
    font-family: "Roboto";
    font-size: 24px;
    color: #b9b9b9;
}
.comments__quote {
    margin-bottom: 10px;
}
.comments__sign {
    font-family: "Kaushan Script";
    font-weight: 700;
    color: black;
}
.comments__sign::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}
.comments__image {
    margin-left: 50px;
}
.comments__image_quote {
    border: 2px solid #95e1d3;
    padding: 45px;
}

.comments__image img {
    display: block;
    margin: auto;
}
@media (max-width: 768px) {
    .comments__item {
        height: auto;
        flex-direction: column;
    }
    .comments__image {
        margin: 50px 0 20px;
    }
    .comments__content {
        font-size: 18px;
        text-align: center;
        flex-basis: auto;
        margin-bottom: 20px;
    }
}
/* #team */
.team__pretitle {
    margin: 100px 0 30px;
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
    text-align: center;
}
.team__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.team__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 50px auto 0;
}
.team__text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 100px 50px;
    color: #999999;
    text-align: center;
}
.team__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.team__slide {
    position: relative;
    background-color: #95e1d3;
}
.team__slide-wrapper:not(:last-child) {
    margin-right: 15px;
}
.team__slide > img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.5s ease-out;
}
.team__overlay {
    background: linear-gradient(rgb(244, 139, 130), rgb(252, 227, 138));
    opacity: 0;
    position: absolute;
    transition: 0.5s ease-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.team__slide:hover > img {
    transform: translate(-10px, -10px);
}
.team__slide:hover .team__overlay {
    transform: translate(-10px, -10px);
    opacity: 0.9;
}
.team__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.team__links li {
    cursor: pointer;
    text-align: center;
    color: #f38181;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fce38a;
}
.team__links li i {
    line-height: 50px;
    vertical-align: middle;
}
.team__links li:hover {
    color: #fff;
    background-color: #f38181;
}
.team__slide-caption {
    text-align: center;
}
.team__slide-caption-name {
    margin-top: 25px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    height: 2em;
    line-height: 14px;
    text-transform: uppercase;
}
.team__slide-caption-job {
    font-family: "Roboto";
    font-size: 15px;
    color: #a6a6a6;
}

@media (max-width: 1200px) {
    .team_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 576px) {
    .team__content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .team__slide-wrapper {
        padding: 0 40px;
    }
    .team__slide-wrapper:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .team__slide-caption {
        text-align: right;
    }
    .team__slide-caption-name {
        margin-top: 5px;
        height: 1em;
    }
    .team__text {
        margin: 0 50px 20px;
    }
}
/* #hipster-logos */
.hipster-logos {
    background-color: #f8f8f8;
}
.container_hipster-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    flex-wrap: wrap;
}

.container_hipster-logos img {
    display: block;
    width: 100%;
    max-width: 120px;
    height: auto;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .hipster-logos-wrapper {
        width: 33%;
        margin: 20px 0;
    }
}
@media (max-width: 576px) {
    .hipster-logos-wrapper {
        width: 50%;
    }
}

/* #grid */
.grid__pretitle {
    margin: 100px 0 30px;
    font-family: "Kaushan Script";
    font-size: 24px;
    line-height: normal;
    text-align: center;
}
.grid__title {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.grid__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 50px auto 0;
}
.grid__text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 100px 100px;
    color: #999999;
    text-align: center;
}
.grid__imageswrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid__image:hover .grid__overlay {
    opacity: 0.9;
}
.grid__image {
    position: relative;
}
.grid__image img {
    display: block;
    width: 100%;
    height: auto;
}
.grid__image_double {
    grid-row: span 2;
}
.grid__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(244, 139, 130), rgb(252, 227, 138));
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid__overlay img {
    width: 30px;
    height: auto;
    margin-bottom: 15px;
}
.grid__overlay-content {
}
.grid__overlay-content-title {
    font-family: "Montserrat";
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.grid__overlay-content-text {
    font-family: "Roboto";
    font-size: 15px;
    color: #fff;
}
@media (max-width: 1200px) {
    .grid_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    .grid__imageswrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 576px) {
    .grid__text {
        margin: 0 50px 20px;
    }
}
